/* Fonte para todos */
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F6F8FC;
    
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #FFF;
    background-image: url(../img/Pokeball.png);
    background-size: 6.7rem;
    background-repeat: no-repeat;
    background-position: right top;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
