.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal { 
    background-color: #A6A877
    }
.grass { 
    background-color: #77C850
    }
.fire { 
    background-color: #EE7F30
    }
.water { 
    background-color: #678FEE
    }
.electric { 
    background-color: #F7CF2E
    }
.ice { 
    background-color: #98D5D7
    }
.ground { 
    background-color: #DFBF69
    }
.flying { 
    background-color: #A98FF0
    }
.poison { 
    background-color: #A040A0
    }
.fighting { 
    background-color: #BF3029
    }
.psychic { 
    background-color: #F65687
    }
.dark { 
    background-color: #725847
    }
.rock { 
    background-color: #B8A137
    }
.bug {
    background-color: #A8B720
}
.ghost { 
    background-color: #6E5896
    }
.steel { 
    background-color: #B9B7CF
    }
.dragon { 
    background-color: #6F38F6
    }
.fairy { 
    background-color: #F9AEC7
    }

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-image: url('../img/fundoPokeball.png');
    background-size: 6rem;
    background-repeat: no-repeat;
    background-position: 8rem 4rem;
    transition: transform .7s;
    animation-fill-mode: forwards;
}

.pokemon:hover {
    transform: scale(1.1);
}

.number {
    color: #716B45;
    opacity: .7;
    text-align: right;
    font-size: .625rem;
}

.name {
    text-transform: capitalize;
    color: #FFF;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.types .type {
    color: #FFF;
    padding: .25rem .5rem;
    margin: .25rem .25rem;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.13);
    text-align: center; 
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #FFF;
    background-color: #6C79DB;
    border: none;
    border-radius: 1rem;
    transition: transform 1s;
}

.pagination button:hover {
    transform: scale(1.3);
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
    .detailPokemon {
        width: 16rem;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .detailPokemon {
        width: 33rem;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .detailPokemon {
        width: 50rem;
    }
}